/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* root */
*{
  box-sizing: border-box;
}

/* utilities */
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* navbar */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-title{
  font-size: 24px;
  font-weight: bold;
}